<div *ngIf="model != null">
    <p>Ville : {{ model.name }}</p>
    <p>Température : {{ model.main.temp }}°C</p>
    <p>Température minumum: {{ model.main.temp_min }}°C</p>
    <img src="{{ model.weather[0].icon | toImageOW : 4 }}">
</div>
